.subsystem--card{
    width: 220px;
    height: 300px;
    background-color: #ddd9d1;
    color: black;
    border-radius: 30px;
    margin: 30px 45px;
    display: flex;
    flex-direction: column;  

    text-decoration: nonegit ;
    
}

.subsystem--icon{
    align-self: self-start;
    margin:15px;
    padding:10px;
    background-color: white;
    border-radius: 30px;

    width: 30px;
    height: 30px;
}

#subsystem--log--list{
    display: flex;
    flex-wrap: wrap
}

.subsystem--title{
    margin-top: auto;
    align-self: center;
}