.racelog{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr .1fr;
    padding-left: 30px;
    color: black;
    height: 90px;
    text-decoration: none;
    justify-content: space-around;
    align-items: center; 

    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
}

.racelog--header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr .1fr;
    padding-left: 30px;
    color: black;
    justify-content: space-around;
    background-color: yellow;

    border-bottom: 1px solid black;
}



#website--icon{
    width: 70px;
    height: 70px;
}

#race--history--body{ 
    background-color: aquamarine; 
    overflow-y: auto; 
    height: 55vh; 
}

#website--title{
    color: black;
    margin-left: 20px;
}

