.racelog{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr .1fr;
    padding-left: 30px;
    background-color: black;
    color: yellow;
    height: 60px;

    justify-content: space-around;
    align-items: center; 
    margin-top: 30px;
    
}

#layout{
    margin: 0 60px
}
