.racelog{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr .1fr;
    padding-left: 30px;
    background-color: white;
    color: black;
    height: 80px;
    text-decoration: none;
    justify-content: space-around;
    align-items: center; 
    margin-top: 30px;
    border-radius: 15px;
    
}

#layout{
    margin: 0 60px
}

#navbar{
    background-color: #f1f1fc;
    height: 90px;
    display: flex;
    align-items: center;
}

#footer{
    background-color: #f1f1fc;
    height: 90px;
    margin: 20px ;

    display: flex;
    align-items: center; 
    justify-content: center;
}

#website--icon{
    width: 70px;
    height: 70px;
}

#website--title{
    color: black;
    margin-left: 20px;
}

